[Unit]
Description=Stream recording Indonesia
After=network-online.target
Wants=network-online.target
StartLimitIntervalSec=0

[Service]
Type=simple
#Environment=PLACE=Bhutan
#Environment=CHANNEL_URL="http://h406.khm.de:8080/Bidisha-channel1"
#WorkingDirectory=/media/pi/LaCie/All recordings/Bhutan/
ExecStart=ffmpeg -i "http://h406.khm.de:8080/Bidisha-channel3" -f alsa default
Restart=always
User=pi
RestartSec=5s

[Install]
WantedBy=multi-user.target
